---
permalink: /
title: "Home"
date: 2021-02-23
excerpt: "About me."
author_profile: true
redirect_from: 
  - "/home/"
  - "/home.html"
  - "/about/"
---

{% include base_path %}

<h2>About Me</h2>
<p>I am a full stack engineer working at the intersection of neuroscience and mechatronics to develop novel therapeutic interfaces capable of integrating multimodal sensory information.</p>
<hr style="border-top: 3px dotted #bbb;width:33%;left:33%">
<h3>About My Research</h3>
<p>For my doctorate, I studied motor recovery from stroke in a <bf><a href="https://m053m716.github.io/files/Whishaw-and-Pellis_1990_Structure-of-rat-reaching.pdf">rat reaching model</a></bf> in the lab of <bf><a href="https://scholar.google.com/citations?user=TlPPA0UAAAAJ&hl=en&oi=sra">Randy Nudo</a></bf> at the <bf><a href="https://bioengr.ku.edu/">University of Kansas Medical Center</a></bf>. My doctoral <bf><a href="https://m053m716.github.io/files/Murphy_2020_thesis_Sensorimotor-recovery-from-stroke.pdf">thesis</a></bf> looks at how the <bf><a href="(https://www.nature.com/articles/nature11129">neural population dynamics</a></bf> change as the rat improves at pellet retrievals.</p>

<hr style="border-bottom: 2px solid #222;width: 80%;left: 10%;top:10px">
<h2>Calendars</h2>
<div class="tab" width="1000">
  <button class="tablinks" onclick="openTab(event, 'Work')">Work</button>
  <button class="tablinks" onclick="openTab(event, 'Personal')">Personal</button>
</div>
<div id="Work" class="tabcontent" height="600" width="800">
  <iframe src="https://exchange.andrew.cmu.edu/owa/calendar/4b5cd1db3d14429e9fab34fc7f67964f@andrew.cmu.edu/b0a1aa7acfc44c7a87080d082545e12d13403533102358856879/calendar.html" style="border-width:0" width="750" height="500" frameborder="0" scrolling="yes"></iframe>
</div>
<div id="Personal" class="tabcontent" height="600" width="800">
  <iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=America%2FKentucky%2FLouisville&amp;src=bWF4Lm11cnBoeTExQGdtYWlsLmNvbQ&amp;color=%23EF6C00&amp;showPrint=0&amp;showCalendars=0&amp;title=Personal%20Calendar" style="border-width:0" width="750" height="500" frameborder="0" scrolling="no"></iframe>
</div>
<hr style="border-top: 2px solid #222;width: 80%;left: 10%;top:10px">
<h2>News</h2>
{% include base_path %}
{% capture written_year %}'None'{% endcapture %}
{% for post in site.news reversed %}
  {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
  {% if year != written_year %}
    {% capture written_year %}{{ year }}{% endcapture %}
  {% endif %}
  {% include archive-single.html %}
  <hr style="border-top: 3px dotted #bbb;width:50%;left:25%">
{% endfor %}